// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ol {
  list-style:none;
  margin: 0;
  padding: 0;
}

.timeline-container {
  width: 300px;
  padding: 10px;
  margin: 20px auto;
  border-right: 3px solid #347568;
}

.timeline-add-video, .timeline-update-video, .timeline-create-course {
  width: 100%;
  border-radius: 2px;
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.timeline-add-video {
  border: 1px solid red;
  float: left;
}

.timeline-update-video {
  border: 1px solid green;
  float: right;

}

.timeline-create-course {
  border: 1px solid blue;
  float: left;

}
